<div class="nav-align row">
  <div class="col-sm-3">
    <a class="button-master" href="/works/new">項目作成</a>
  </div>
  <div class="col-sm-6">
    <h4>作業一覧</h4>
  </div>
  <div class="col-sm-3">
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>項目Id</th>
      <th>項目名</th>
      <th>作成時間</th>
      <th>更新時間</th>
      <th>修正</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% works.forEach(work=> { %>
      <tr>
        <td>
          <%= work._id %>
        </td>
        <td>
          <%= work.name %>
        </td>
        <td>
          <%= work.createdAt.toLocaleString() %>
        </td>
        <td>
          <%= work.updatedAt.toLocaleString() %>
        </td>
        <td>
          <a href="<%=`works/${work._id}/edit`%>">管理用</a>
        </td>
        <td>
          <a href="<%= `works/${work._id}/delete?_method=DELETE` %>"
            onclick="return confirm('Are you sure you want to delete this record?')" a>管理用</a>
        </td>
      </tr>
      <% }); %>
  </tbody>
</table>